
<div class="container">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <%= link_to 'Upload Document', [:new, :admin, :document], :class => 'btn btn-default' %>
    </div>
  </div>

  <table class="table">
  <% @documents.group_by(&:document_type).each do |group, documents| %>
      <tr>
        <th><%= group %></th>
        <th></th>
        <th>Date</th>
        <th></th>
      </tr>
    <% documents.each do |document| %>
      <tr>
        <td><%= link_to document.name, [:edit, :admin, document] %></td>
        <td><%= document.description %></td>
        <td><%= document.date.to_s %></td>
        <td><%= link_to 'Delete', [:admin, document], :method => :delete, 'data-confirm' => 'Are you sure?' %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>
