<% content_for :page_banner do %>
  <h1>Owner Documents</h1>
  <p>Notices, rules, bylaws, meeting minutes, and forms all in one spot</p>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h2>Meeting Minutes</h2>
    <%= render 'dated_list', :documents => @minutes %>
  </div>
  <div class="col-md-4">
    <h2>Notices</h2>
    <%= render 'dated_list', :documents => @notices %>
    <h2>Forms</h2>
    <%= render 'list', :documents => @forms %>
  </div>
  <div class="col-md-4">
    <h2>Rules</h2>
    <%= render 'dated_list', :documents => @rules %>
    <h2>Bylaws</h2>
    <%= render 'dated_list', :documents => @bylaws %>
  </div>
</div>
