<!DOCTYPE html>
<html>
<head>
  <title>Carlyle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51956066-1', 'carlyle1060.herokuapp.com');
    ga('send', 'pageview');

  </script>
</head>
<body>

<nav id="site_header" class="navbar" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">The Carlyle</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Gallery', gallery_path %></li>
        <li><%= link_to 'Floorplans', floorplans_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= content_tag :li, link_to('Owners', documents_path), :class => ('active' if params[:controller] == 'documents') %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<% if content_for?(:page_banner) %>
<div class="banner">
  <div class="container">
    <%= content_for(:page_banner) %>
  </div>
</div>
<% end %>

<%= yield %>

<footer id="site_footer">
  <div class="container">
    <strong>The Carlyle</strong></br> 1060 Alberni Street, Vancouver, BC, V6E4K2

    <br/>

    Website built by the fine folks at <%= link_to 'Culture Code', 'http://www.culturecode.ca' %>
  </div>
</footer>
</body>
</html>
